<%- include('./partials/header') -%>
<%- include('./partials/navbar') -%>
<div class="wp-wrapper"> 
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li>Real Estate</li>
    </ul>
    <h1 class="main-page-heading">Welcome to Real Estate</h1>
    <div class="wp-links">
        <a href="/rsPropertiesInHand">Properties in Hand</a> <br>
        <a href="/rsPropertiesSales">Properties sales</a><br>
    </div> 
</div>
<%- include('./partials/footer') -%>