<%- include('./partials/header') -%>
<%- include('./partials/navbar') -%>
<div class="wp-wrapper"> 
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li>Solar</li>
  </ul>
    <h1 class="main-page-heading">Welcome to Solar</h1>
    <div class="wp-links">
      <a href="/solarTotalSales">Total Sales</a> <br>
      <a href="/solarTelecaling">Telecaling Data</a><br>
      <a href="/solarStockReports">Stock Reports</a><br>
      <a href="/solarExpenses">Expenses</a><br>
    </div>
  </div>
<%- include('./partials/footer') -%>