<%- include('./partials/header') -%>
<%- include('./partials/navbar') -%>
<div class="wp-wrapper"> 
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li>Water Purifier</li>
  </ul>
  <h1 class="main-page-heading">Welcome to Water Purifier</h1>
  <div class="wp-links">
    <a href="/wpTotalSales">Total Sales</a> <br>
    <a href="/wpTelecaling">Telecaling Data</a><br>
    <a href="/wpStockReport">Stock Reports</a><br>
    <a href="/wpServicesPending">Number of services pending</a><br>
    <a href="/wpExpenses">Expenses</a><br>
  </div>
</div>
<%- include('./partials/footer') -%>